node_modules

# testing
/.nyc_output
.env
accounts.env

# Hardhat files
/cache
/artifacts
/build

# TypeChain files
/typechain
/typechain-types

/contracts/.deps
/contracts/artifacts

# solidity-coverage files
/coverage
/coverage.json
